# API Configuration
# Backend API URL
# Android emulator: http://10.0.2.2:3000/api
# Real device (same WiFi): http://<YOUR_IP>:3000/api
EXPO_PUBLIC_API_URL=http://192.168.2.128:3000/api

# Google OAuth Client ID
# Lấy từ Google Cloud Console -> APIs & Services -> Credentials
# Hoặc dùng chung với website (cùng project)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=649280086350-dcnmaq0dg1isfnt7hmtso9paq6r8jgqr.apps.googleusercontent.com

# Facebook App ID
# Lấy từ Facebook Developer Portal -> Settings -> Basic
EXPO_PUBLIC_FACEBOOK_APP_ID=4153740721542373
